body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper{
    min-height: 100%;
}
.header{
    height: 117px;
}
.container{
    max-width: 1660px;
    width: 96%;
    margin: 0 auto;
}
.left_side{
    float: left;
margin-right: px;
}
.right_side{
float: right;
margin-left: px;
}
.content{
    position: relative;
    overflow: hidden;
}
.clear{
    clear: both;
    height: 1px;
}
.subfooter{
    height: 80px;
}
.footer{
    position: relative;
    margin-top: -80px;
    height: 80px;
    background-color: #24c657;
}